<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>

<script type="text/javascript" src={% static '../static/hou/lib/html5shiv.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/respond.min.js' %}></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href={% static '../static/hou/static/h-ui/css/H-ui.min.css' %}/>
<link rel="stylesheet" type="text/css" href={% static '../static/hou/lib/Hui-iconfont/1.0.8/iconfont.min.css' %}/>
<!--[if lt IE 9]>
<link href={% static '../static/hou/static/h-ui/css/H-ui.ie.css' %} rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src={% static '../static/hou/lib/DD_belatedPNG_0.0.8a-min.js' %} ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ui-sortable .panel-header{ cursor:move}
</style>
<title>星链组博客-后台</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body ontouchstart>
<div class="containBox">
    <div class="containBox-bg"></div>
	<header class="navbar-wrapper">
		<div class="navbar navbar-black navbar-fixed-top">
			<div class="container cl">
				<a class="logo navbar-logo hidden-xs" href="/aboutHui.shtml">星链组博客-管理后台</a>
				<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>
				<nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
					<ul class="cl">
						<li class="dropDown dropDown_hover" style="float: right">
							<a href="javascript:;" class="dropDown_A">admin</a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li>
									<a href="javascript:;" onclick="out({{ uid }})">退出登陆</a>
								</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<nav class="navbar-userbar hidden-xs"></nav>
			</div>
		</div>
	</header>
	<div class="wap-container">
		<div class="container ui-sortable">
            <div style="overflow: hidden;">
                <h1 style="float: left;">个人中心</h1>
                <a style="background: #0000cc; color: #ffffff" href="/article/add_article/?uid={{ uid }}">
                    <input style="float: right; margin-top: 20px;" class="btn btn-primary size-L radius" type="button" value="新增">
                </a>
            </div>
			<div class="panel panel-default mt-20">
				<div class="panel-header">我的文章</div>
				<div class="panel-body">

                    <form action="/article/search/" method="post" class="form form-horizontal responsive" id="demoform" novalidate="novalidate">
						<div class="row" style="overflow: hidden; margin-bottom: 20px;">
                            <div class="col-xs-4">
                                <div class="formControls">
                                    <input type="text" class="input-text" placeholder="请输入标题" name="title" id="username">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <span class="select-box" search="{{ search_column }}">
                                    <select class="select" name="cid">
                                        <option value="0">全部</option>
                                        <option value="1">python</option>
                                        <option value="2">linux</option>
                                        <option value="3">spark</option>
                                        <option value="4">mysql</option>
                                        <option value="5">redis</option>
                                        <option value="6">mongo</option>
                                        <option value="7">开发工具</option>
                                        <option value="8">vue.js</option>
                                    </select>
                                </span>
                            </div>
                            <div class="col-xs-4">
                                <input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
                            </div>
						</div>
					</form>


					<table class="table table-border table-bordered table-bg">
						<thead>
							<tr>
								<th>标题</th>
								<th>分类</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
                        {% for i in context %}
							<tr>
								<td>{{ i.title }}</td>
								<td><span class="label label-default radius">{{ i.column_name}}</span></td>
                                <td>
                                    <a href="/article/edit_article/?aid={{ i.aid }}&cid={{ i.cid }}&uid={{ uid }}" itemprop="url">
                                        编辑
                                    </a>
                                    <a herf="javascript:;" onClick="modaldemo({{ i.aid }})">删除</a>
                                </td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<footer class="footer mt-20">
			<div class="container">
				<nav class="footer-nav">
					<a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于H-ui</a>
					<span class="pipe">|</span>
					<a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>
					<span class="pipe">|</span>
					<a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>
				</nav>
			</div>
		</footer>
	</div>
</div>
<!--普通弹出层-->
<div id="modal-demo" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">提示</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				<p>确定删除这条信息?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="sure({{ uid }})">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src={% static '../static/hou/lib/jquery/1.9.1/jquery.min.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/jquery-ui/1.9.1/jquery-ui.min.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/static/h-ui/js/H-ui.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/jquery.validation/1.14.0/jquery.validate.min.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/jquery.validation/1.14.0/validate-methods.js' %}></script>
<script type="text/javascript" src={% static '../static/hou/lib/jquery.validation/1.14.0/messages_zh.min.js' %}></script>
<script>
    var aid
    var search_column = $('.select-box').attr('search')
    $('.select').val(search_column)

//弹窗显示
function modaldemo(aid){
        aid = aid
	$("#modal-demo").modal("show");
}
// 确定删除
function sure(uid) {
    ajaxFuction ('/article/del_article/', { 'uid': uid, 'aid': aid}, function() {

    })
}
// 退出登陆
    function out(uid) {
        ajaxFuction ('/article/quit/', { 'uid': uid}, function(res) {
            if (res.data) {
                window.location.href = '/article/login'
            }
        })
    }
function ajaxFuction(ajaxUrl, data, callback) {
    if (!Boolean(data)) {
        data = {}
    }
    if (!Boolean(callback)) {
        callback = function (_) {}
    }
    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: ajaxUrl,
        data: data,
        success: function (res) {
            callback(res)
        }
    })
}
</script>
</body>
</html>